

body {
    background-color: rgb(137, 221, 193);
}

/* HEADER ============================================================================================ */


header {
    width: 1400px;
    background-color: rgb(137, 221, 193);
}

li {
    list-style: none;
    margin: 30px 20px 0px 0px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    li:hover {
        color: blue;
        font-size: larger;
    }

.dropdown_list {
    margin: 20px;
}

nav {
    display: inline-flex;
}

.nav {
    display: inline-flex;
    margin: 0px 450px 0px 340px;
}

.drd_signup_clss {
    color: black;
}

/* relative div block=========================================================================================== --> */

.div_back_img_cls {
    position: relative;
    top: 100px;
}


/* Sign up form ================================================================================================== */

.div_signupform_cls {
    margin: 170px 0px 0px 400px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 20px;
}

    .div_signupform_cls:hover {
        background-color: white; //rgb(157, 158, 157);
    }

h1 {
    margin-bottom: 30px;
}
/* txt_style =================================================================================================== */

.txt_style {
    width: 500px;
}
/* chekbox ================================================================================================== */

#chk_terms_cls {
    margin: 30px;
}
/* button ---------------------------------------------------------------------- */
#btn_crt {
}



/* ======================================================================================= */
